<html>
    <head></head>
    <body>
        <div class="card bg-secondary border-2 border-none text-white;">
            <span class="card-header bg-dark text-white fs-3 fw-semibold ">Información y Créditos</span>
            <div class="card-body text-white" style="caret-color: transparent; cursor: default;">
                <span class="mb-0">
                    <h5><b>Créditos</b></h5>
                    <span>Creador y programador: PwLDev</span><br>
                    <span>Artista: Alen't</span>
                    <br>
                    <br>
                    <h5><b>Usuarios que más han apoyado este proyecto</b></h5>
                    <ul>
                        <li>XyPher</li>
                        <li>Mr.BFNEO Countryballs</li>
                        <li>valentin</li>
                        <li>ArgentinaBallOFICIAL</li>
                        <li>Tako</li>
                        <li>Sr.Latamball</li>
                        <li>Y a muchos más, se los agradezco muchísimo...</li>
                    </ul>
                </span>
                <hr>
                <span class="mb-0">
                    <h5><b>Información</b></h5>
                    <span>Bot escrito en Node.js</span><br>
                    <span>Panel hecho con Bootstrap & Express</span>
                </span>
                <div class="card-footer text-white border-white bg-secondary mt-3">© 2023 PwLDev</div>
            </div>
        </div>
    </body>
</html>