<html>
    <head></head>
    <body>
        <div class="card bg-secondary border-2 border-none text-white;">
            <span class="card-header bg-dark text-white fs-3 fw-semibold ">Countryballs</span>
            <div class="card-body text-white" style="caret-color: transparent; cursor: default;">
                <button id="add_countryball" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus mb-1" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Crear Countryball
                </button>
                <hr>
                <div id="countryballs_list" class="overflow-y-scroll">
                    <h5>Cargando...</h5>
                </div>
                <div class="card-footer text-white border-white bg-secondary mt-3">© 2023 PwLDev</div>
            </div>
        </div>
    </body>
</html>